.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c8c8c8;
  min-height: 20vh;
}

.searchBar {
  min-width: 240px;
  height: 4vh;
  width: 40vw;
  margin-bottom: 10px;
  margin-right: 6px;
}

.selectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.searchField {
  display: flex;
  align-items: baseline;
}

.searchIcon {
  width: 16px;
}
.btnSearch {
  align-items: center;
  height: 4vh;
}

@media (max-width: 740px) {
  .selectContainer {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  .selectContainer label {
    margin-bottom: 8px;
  }
}
