.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c8c8c8;
  min-height: 20vh;
  margin-bottom: 20px;
}
.heading {
  padding: 20px;
  border-radius: 16px;
}
.heading:hover {
  cursor: pointer;
  background-color: #acacac;
}
